/*
.contentsUpLoadPageSpace{
    padding-top: 20px;
}

.upLoadBox{
    width: 450px;
    height: 180px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.upLoadBox > div:last-child{
    margin-top: 10px;
}

.contentsExplanation > input{
    display: block;
    width: 400px;
    height: 40px;
}

.contentsExplanation > input:last-child{
    margin-top: 10px;
}

.btnBox{
    margin-top: 10px;
    display: flex;
}

.contentsUpLoadPageBackBtn{
    margin-left: 10px;
}
*/




#AdminPost {
	width: 100%;	
}

#UploadContentInfo{
	width: 900px;
    margin: 60px auto 100px auto;
}

.info-title {
	font-size: 28px;
}

#UploadThumbnail{
	display: flex;
	text-align: center;
}

#Upload, #Thumbnail {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
	max-width: 445px;
	margin: 20px;
	height: 200px;
	border-radius: 20px;
	border: 2px solid  rgb(26, 29, 41);
}

/* .filebox label {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    vertical-align: middle;
    background-color: #D0D0D0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    width: 80px;
    height: 17px;
    margin-top: 10px;
   
} */

.file_input_textbox
{
float: left
padding: 10px 20px;
}
 
.file_input_div
{
position: relative;
width: 100px;
height: 50px;
overflow: hidden;
}
 
.file_input_button
{
 display: inline-block;
    
    color: #fff;
    vertical-align: middle;
    background-color: #D0D0D0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 12px;
    width: 80px;
    height: 30px;
    
}
 
.file_input_hidden
{
font-size: 45px;
position: absolute;
right: 0px;
top: 0px;
opacity: 0;
 
filter: alpha(opacity=0);
-ms-filter: "alpha(opacity=0)";
-khtml-opacity: 0;
-moz-opacity: 0;
}


.filebox input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
    display: none;
}




#ContentInfo{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 100px;
}

.content-info-area {
	display: flex;
}

.content-info-detail {
	margin: 30px;
	width: 50%;
	max-width: 420px;
}

#MovieName, #ReleaseDate, 
#Producer, #Genre, #actor,
#Movienumber, #Agelimit{
	width: 93%;
	max-width: 445px;
	height: 45px;
	border-radius: 10px;
	padding: 0px 20px;
	border: 1px solid lightgray;
}

#Genre {
	width: 105%;
	max-width: 433px;
}

.content-intro {
	width: 100%;
	margin: 0 30px;
}

#MovieIntroduct{
	width: 90%;
	max-width: 870px;
	height: 80px;
	border-radius: 10px;
	padding: 0px 20px;
	border: 1px solid lightgray;
 }

.content-btn-area {
    text-align: center;
    margin: 45px 30px 30px 30px;
}

.content-btn {
	cursor: pointer;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #252525;
    width: 150px;
    height: 35px;
}